html, body {
	margin: 0 0 0 0;

	font: 14px Verdana;
	color: #565656;
	background-color: #e9e9e9;
	height: 100%
}
table {
    border-collapse: collapse;
	border:1px solid black;
}



.naslov{
	color: #F0F8FF;
	line-height:25px;
    font-size: 26px;
}


#main-container {
	width: 100%;
	height:100%;
	text-align: center;
}

#header {
	width: 100%;
	height: 15%;
	background-color:#778899;


}
	#header .logo {
		padding-top: 20px;
		padding-left: 10px;
		max-width: 100%;
		height: auto;
	}
	
	#header .banner {
		width: auto;
		height: 100%;
		
	}
	

#sidebar {
	float: left;
	width: 15%;
	background-color:#D3D3D3;
    height: 100%;
	text-align: center-right;
	margin-right: -10px;
}

	#sidebar ul {
		list-style-type: none;
	}
		#sidebar ul li {
			border-bottom: 1px solid grey;
			line-height: 1.4em;
			padding: 4px 0;
			font-size: 0.9em;
		}
		#sidebar ul li a {
			color: #000000;
			font-family: "Segoe UI", Sans-serif;
			font-size: 18px;
			
		}
		#sidebar ul li a:hover {
			color: #DC1000;
		}
		#sidebar .address {
			width: 15%;
			height:15%;


		}


	
